body {
  background: #fff;
}

@media screen and (max-width: 480px) {
  body {
    background: rgb(245, 219, 238);
  }
  .name {
    color: rgba(14, 6, 88, 0.952);
  }
  .price {
    color: red;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.products {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20x;
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}

.product {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 35px;
}

.image {
  height: 200px;
}

.price {
  font-weight: bold;
}
